<div class="index-container">
<h2>Admins List</h2>
  <% @users.each do |user| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= image_tag user.picture.url(:thumb) %>
      <ul>
        <li><%= user.name %></li>
        <li><%= user.username %></li>
        <li><%= user.email %></li>
      </ul>
    </div>
  <% end %>
</div>
