<h1>Admin Dashboard - Welcome <%= current_user.name %>!</h1>
  <h3><%= image_tag current_user.picture.url(:small) %></h3>
  <div class="admin-links">
    <p><%= link_to "All Photos", admin_photos_path %><br></p>
    <p><%= link_to "Add New Photo", new_admin_photo_path %><br></p>
  </div>
