 /*-------------------------------------------------------
General
 ---------------------------------------------------------*/
/* line 6, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
body {
  padding-top: 0px;
  font-family: monospace;
  background-color: #E8E2BE !important;
}

/* line 12, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
h1 {
  font-family: 'Playfair Display' !important;
  color: black;
}

 /*-------------------------------------------------------
Front Page
 ---------------------------------------------------------*/
/* line 21, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.jumbotron {
  background: url(/assets/photo-camera-cropped-5280fac1f23060cc7b3f529440efa30ad1e7a8d5ffd03d3ebf4b6855d95b714e.png) no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  position: relative;
}

/* line 28, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.jumbotron h1 {
  position: absolute;
  right: 50px;
  bottom: 40%;
  width: 40%;
  font-size: 3em !important;
}

/* line 36, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.front-page-image {
  padding-bottom: 10px;
  text-align: center;
  vertical-align: center;
}

/* line 42, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.jumbotron {
  opacity: .7;
  background-color: white;
}

/* line 47, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.jumbotron1 {
  opacity: .5;
  background-color: white;
}

/* line 52, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.carousel {
  margin: 0 auto 50px;
  z-index: 2;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

/* line 61, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.carousel-inner > .photo > img,
.carousel-inner > .photo > a > img {
  margin: auto;
  width: 100%;
}

 /*-------------------------------------------------------
Navbar
 ---------------------------------------------------------*/
/* line 71, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.navbar-brand {
  font-family: 'Playfair Display' !important;
  font-size: 30px !important;
  color: black;
}

/* line 77, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.navbar {
  background-color: white;
  background: white;
  opacity: .8;
  color: #777;
  z-index: 10000;
}

/* line 86, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.navbar li {
  color: #000;
}

/* line 90, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.nav.navbar-nav.navbar-right li a {
  color: #777;
}

/* line 94, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.nav.navbar-nav.navbar-left li a {
  color: #777;
}

 /*-------------------------------------------------------
Flashes
 ---------------------------------------------------------*/
/* line 102, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
#flash_notice {
  font-family: monospace;
  text-style: bold;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding: 4px;
  border-radius: 100px;
  color: #fff8dc;
  background-color: darkgrey;
}

/* line 114, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
#flash_errors {
  font-family: monospace;
  text-style: bold;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding: 4px;
  border-radius: 100px;
  color: #fff8dc;
  background-color: darkgrey;
}

/* line 126, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
#flash_messages {
  font-family: monospace;
  text-style: bold;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding: 4px;
  border-radius: 100px;
  color: #fff8dc;
  background-color: darkgrey;
}

/* line 137, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
#flash_message {
  font-family: monospace;
  text-style: bold;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding: 4px;
  border-radius: 100px;
  color: #fff8dc;
  background-color: darkgrey;
}

/* line 148, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
#flash_error {
  font-family: monospace;
  text-style: bold;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding: 4px;
  border-radius: 100px;
  color: #fff8dc;
  background-color: darkgrey;
}

/* line 160, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
#flash_twitter {
  font-family: monospace;
  text-style: bold;
  opacity: .8;
  text-align: center;
  margin-right: 60%;
  padding: 4px;
  border-radius: 100px;
  color: #fff8dc;
  background-color: red;
}

 /*-------------------------------------------------------
Tables
 ---------------------------------------------------------*/
/* line 175, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
table td {
  font-family: monospace;
  border: 2px solid black;
  padding: 10px;
  align: center;
}

/* line 182, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.admin_orders_list {
  font-family: monospace;
  width: 65%;
  padding: 5px;
  border: 1px solid;
  height: 500px;
  overflow: auto;
}

/* line 191, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.user-orders-list {
  font-family: monospace;
  width: 65%;
  padding: 5px;
  border: 1px solid;
  height: 500px;
  overflow: auto;
  margin-left: 18%;
}

/* line 200, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.center_div {
  font-family: monospace;
  padding: 3px;
  margin-right: 10px;
}

/* line 206, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.dropdown-menu li:hover .sub-menu {
  font-family: monospace;
  visibility: visible;
}

/* line 211, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.dropdown:hover .dropdown-menu {
  font-family: monospace;
  display: block;
}

/* line 216, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.account {
  float: left;
}

/* line 220, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.admin_orders_list h3 {
  font-family: monospace;
  text-align: center;
}

/* line 225, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.dashboard {
  float: left;
  margin-left: 5%;
}

/* line 230, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.index {
  text-align: center;
}

/* line 234, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.index {
  float: left;
  align: center;
  list-style: none;
  margin-left: 37%;
}

/* line 241, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.container h1 {
  text-align: center;
}

/* line 245, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.container h3 {
  text-align: center;
}

/* line 250, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.container {
  font-family: monospace;
}

/* line 254, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.container .index {
  text-align: center;
  float: left;
  list-style: none;
  width: 200px;
}

/* line 261, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.field {
  align: center;
  float: left;
  margin-left: 43%;
  width: 75%;
}

/* line 268, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.collection {
  padding: 3px;
}

/* line 272, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.submit {
  align: center;
  float: left;
  margin-left: 43%;
  width: 75%;
}

/* line 279, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.form {
  align: center;
  float: left;
  margin-left: 43%;
  width: 75%;
}

/* line 286, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.order-dashboard-page {
  align: center;
  float: left;
  margin-left: 23%;
  width: 85%;
}

/* line 293, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.admin-links p {
  border: 2px solid black;
  border-radius: 5px;
  align: center;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding: 2px;
}

/* line 303, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.admin-links p:hover {
  background-color: grey;
  font-color: white;
}

/* line 308, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.twitter-login {
  align: center;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding: 10px;
}

/* line 316, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.collection {
  margin-left: -100px;
  list-style: vertical;
}

/* line 321, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.filter {
  padding: 1em;
}
/* line 323, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.filter label {
  font-size: 0.8em;
}
/* line 325, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.filter label:after {
  content: ': ';
}
/* line 329, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.filter select, .filter input {
  margin-right: 1em;
}

/* line 334, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.index-container img {
  text-align: center;
  padding-top: 4px;
}

/* line 339, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.index-container h4 {
  min-height: 50px;
}

/* line 343, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.index-container h2 {
  text-align: center;
}

/* line 347, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.description {
  text-align: center;
  font-size: 20px;
}

/* line 352, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.thumbnail {
  width: 300px;
  margin-left: 33%;
  opacity: 0.7;
  background-color: cornsilk;
  text-align: center;
}

/* line 360, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.checkouts-page {
  margin-left: 25%;
}

/* line 364, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.checkouts-page h2 {
  text-align: center;
  margin-left: -375px;
}

/* line 369, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.confirmation {
  margin-left: 25%;
}

/* line 373, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.confirmation h2 {
  text-align: center;
  margin-left: -375px;
}

/* line 378, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.flashes {
  margin-left: 35%;
}

/* line 382, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.user-show {
  width: 300px;
  margin-left: 33%;
  opacity: 0.7;
  padding: 20px;
  background-color: white;
  /*text-align: center;*/
}

/* line 391, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.user-show ul {
  list-style: none;
}

/* line 395, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.user-order-list {
  font-family: monospace;
  width: 45%;
  padding: 5px;
  height: 500px;
  overflow: auto;
  margin-left: 28%;
}

/* line 404, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.payment {
  font-family: monospace;
  width: 45%;
  padding: 5px;
  height: 500px;
  overflow: auto;
  margin-left: 28%;
}

/* line 413, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.admin_status_list h3 {
  margin-left: -350px;
}

/* line 417, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.admin_status_list table {
  margin-left: 210px;
}

/* line 421, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.filter {
  margin-left: 180px;
}

/* line 425, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.display_photos img {
  max-width: 550px;
}

/* line 429, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
#footer {
  background-color: white;
  background: white;
  opacity: .8;
  color: #777;
  z-index: 10000;
  margin-top: 20px;
  height: 50px;
}

/* line 439, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.footer_text {
  font-size: 14px;
  text-align: center;
}

/* line 444, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.store_home_page ul {
  list-style: none;
}

/* line 447, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.store_home_page img {
  height: 350px;
}

/* line 451, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.store_info img {
  width: 200px;
}

/* line 455, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.display_image img {
  max-width: 800px;
}

/* line 459, /Users/mihir787/turing/module/the_pivot/app/assets/stylesheets/custom.css.scss */
.footer-height {
  min-height: 80vh;
}
