<div class="jumbotron">
  <h1>View Galleries and Purchase from Real Photographers</h1>
</div>
<div class="container">
  <h1>Browse the Stores</h1>
  <div class="store_home_page">
    <div class="row">
      <% @stores.each do |store| %>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="photo_div_home_page">
          <div class="other_div">
            <h3><%= link_to "#{store.name}", store_photos_path(store: store.slug) %></h3>
            <%= link_to image_tag(store.image.url), store_photos_path(store: store.slug) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>