<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Phonatic!</h1>
    <h3>Thanks for signing up, <%= @user.name %>!</h3>
    <p>Thanks for joining now!</p>
    <p>Love,</p>
    <p> The Phonatic Dev Team </p>
  </body>
</html>
