<h3>Hi <%= @user.name %>!</h3>
<p>You have been added as as a store admin for <%= @user.store %> on Phonatics.</p>

<p>
	Email: <%= @user.email %><br>
	Password: password<br>
</p>
<p> The Phonatic Dev Team </p>
