<h1>Welcome to <%= current_store.name %></h1> 
<% @photos.each do |photo| %>
  <div class="col-lg-4 col-md-6 col-sm-6 display_photos">
    <%= link_to image_tag(photo.image), store_photo_path(current_store, photo) %><br>
    <ul>
      <li><%= link_to photo.title, store_photo_path(current_store, photo) %></li>
    </ul>
  </div>
<% end %>